.form-item {
  margin: 12px 0 60px;
  label {
    display: block;
    margin-bottom: 8px;
    color: white;
  }
  input {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 6px;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #888888;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 50px;
    outline: none;
    transition: border-color .2s ease-out;
    &:focus {
      border-bottom-color: #125259;
      color: #0e3e43;
      font-size: 14px;
      line-height: 30px;
      transition: color .2s .2s ease-out;
    }
  }
}

@media screen and (min-width: 400px) {
  .form-item {
    margin: 12px 24px 0 0;
  }
}